/** CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end CSS RESET*/



/** Fonts **/
@font-face {
    font-family: 'Raleway';
    src: url('Fonts/Raleway-Medium.eot');
    src: url('Fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('Fonts/Raleway-Medium.woff2') format('woff2'),
        url('Fonts/Raleway-Medium.woff') format('woff'),
        url('Fonts/Raleway-Medium.ttf') format('truetype'),
        url('Fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Fonts/Raleway-Light.eot');
    src: url('Fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('Fonts/Raleway-Light.woff2') format('woff2'),
        url('Fonts/Raleway-Light.woff') format('woff'),
        url('Fonts/Raleway-Light.ttf') format('truetype'),
        url('Fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('Fonts/PlayfairDisplay-Regular.eot');
    src: url('Fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('Fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('Fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('Fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('Fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('Fonts/PlayfairDisplay-Bold.eot');
    src: url('Fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('Fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('Fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('Fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('Fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
    max-width: 100%;
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color: white;
    padding: 10px;
    order: 1;
}

.aloha {
    width: 30%;
    
}

.cart {
    width: 10%;
    
}

nav {
    color: #e2574c;
    font-family: 'Raleway';
    order: 2;
}

nav>ul {
    background-color: white;
    list-style-type: none;
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    padding: 10px 20px 10px 20px;
    border-top: 1px solid #d7d7d7;
    margin: 0 10px 0 10px;
    font-size: 14px;
    /* FIX BORDER */
}

.herobanner {
    /** position of girl using flex **/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner-girl.png"),url("../images/flower-bkgd.jpg");
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-position: 100% 100%,50% 30%, 100% 100%;
    background-size: contain, 198px 455px, cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    order: 3;
    height: 400px;
}

.herotext{
    
    color: white ;
    display: flex;
    flex-direction: column;
    height: 110px;
    justify-content: space-between;
   
    width:60%;
    
   
}


.herotext>h5 {
    font-family: "raleway";
    text-align: center;
    
}

.herotext>h1 {
    font-size: 35px;
    font-family: "Playfair Display";
    text-align: center;

}

.mid {
    order: 4;
    height: 260px;
    color: #2d2d2d;
    display: inline-block;
  ;
}

.mid>h1 {
    /** unable to italicize or bold properly **/
    font-size: 30px;
    text-align: center;
    font-family: "Playfair Display";
    top: 20%;
    position: relative;
}

.mid>p {
    font-size: 16px;
    text-align: center;
    /** cant change font to light **/
    font-family: "Raleway" light;
    line-height: 2;
    position: relative;
    top: 30%;
    padding: 0 20px 0 20px;
    color: #2d2d2d

}
/* 
.categories {
    order: 5;
    flex-direction: column;
    background-color: pink;
    display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  max-width: 100%;
}

.pics {
   
}

.pics>img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 50%;
    max-height: 100%;
}

} */


.products{
    order: 6
    
}

.newsletter {
    height:340px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/wave-bkgd.jpg");
    background-size: absolute;
    background-position: 100% 100%;
    background-repeat: no-repeat;
   display: inline-block;
   text-align: center;
   order: 7;
}

.newsletter-text {
    height: 60%;
    
    
}

.newsletter-text>h1 {
    font-size: 35px;
    font-family: "playfair display";
    color: white;
    padding-top: 15%
    
}

.newsletter-text>p {
    font-family: "raleway";
    color: white;
    position: relative;
    line-height: 2em;
    padding: 10px 3px 0 3px;
    
    
}
.email {
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    height: 35px;
    margin: 35px 25px 35px 25px;
    font-family: "raleway";
}
input[type="text"] {
   flex-grow: 2;
   border: none;
   border-radius: 25px;
}

input[type="submit"] {
    border: 1px;
    color: white;
    background-color: #e2574c;
    margin: 5px;
    border-radius: 25px
}

footer {
    order: 9;
    display: flex;
    flex-direction: column;
    height: 360px;
    background-color: #242424;
    color: white;
    font-family: "playfair display";
}

.contact {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 70px 50px 20px 50px;
}

.icons {
    display: flex;
    text-align: center;
}

i {
    text-align: center;
}